body{
  background-color: black;
}

.playlist{
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  width: 600px;
  max-wdith: 600px;
  padding: 10px;
  background-color: #EECF12;
}

header{
  width: 50%;
  color: white;
  font-size: 30px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#video{
  margin-top: 10px;
  border-radius: 10px;
  background:red url(../img/video.png);
  width: 50%;
  height: 450px;
}


.video{
  margin-top: 20px;
  width: 575px;
  height: 150px;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: #F65158;
}

.video img{
  padding: 12.5px;
  height: 125px;
  border-radius: 5px;
  transition: transform .25s ease;
  float: left;

}

.description{
  padding: 20px;
}
.description p {
  color:white;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 10px;
}

.title{
  font-size: 20px;
  font-weight: 15px;
  color: white;
}

.video:hover{
  box-shadow: 0 0 0 1px #7be9ec;
  transition: all 200ms ease-out;
  border: 1px solid #7be9ec;
  cursor: pointer;
  background-color: #FF7ED4;
}

article:hover img {
    transform: scale(1.05);
}
